* {
    font-family: 'SUIT', sans-serif;
    font-weight: 500;
    line-height: 160%;
}

body{
    margin: 0;
    padding-top: 75px;
}
h3 {
    font-weight: 800;
}

header {
    height: 100px;
    background-color: black;
    /* display: flex; */
    /* flex-direction: row; */
    /* align-items: center;
    justify-content: center; */
    /* margin-bottom: 100px; */
    width: 100%;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
}

.gnb_list{
    list-style-type: none;
}

.gnb_list > li > a{
    text-decoration-line: none;
    color: white;
}

.logo {
    color: white;
    margin-left: 30px;
    width: 200px;
    /* display: inline-block; */
    font-weight: 900;
    position: absolute;
    left: 0;
}
.nav {
    position: absolute;
    left: 200px;
    top: 20px;
    width: 600px;
}
header > .nav, li {
    float: left;
}

header > .nav, li, a {
    margin: 5px 15px;
}



.search {
    /* display: inline-block; */
    float: right;
    margin-right: 30px;
    margin-top: 30px;
}

.search>input {
    width: 300px;
}


.cardList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.mycards {
    margin: 30px auto 30px auto;
    /* background-color: green; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* .mycards2 {
    background-color: yellow;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 100px;
    height: 500px;
} */
.mycards2 > img{
    position: absolute;
    width: 100%;
    border-radius: 0px;
}

.movie-card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 3px grey;
    width: 300px;
    height: 800px;
    margin: 30px;
    border: 1px solid black;
    text-align: justify;
    /* 하단에 텍스트 고정 */
    position: relative; 
}

.movie-card2 {
    /* background-color: green; */
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    height: auto;
    margin: 30px;
    /* border: 1px solid black; */
    text-align: justify;

    position: relative;
}

span {
    font-weight: 700;
    /* 하단에 텍스트 고정 */
    position: absolute;
    bottom: 20px; 
}

img{
    width: auto;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
    margin: auto;
    display: block;
}

.mycards>div {
    margin: 30px;
}
