header {
    height: 200px;
    background-color: grey;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* .warp {
    background-color: aqua;
} */

.mycards {
    margin: 30px auto 30px auto;
    background-color: bisque;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 3px grey;
}

/* .card > h4, p {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */
img {
    width: auto;
    height: 500px;
    /* object-fit: cover; */
    border-radius: 10px;
}

.mycards>div {
    margin: 30px;
}

.title {
    color: white;
}

.search {
    flex-direction: row;
    margin-top: 30px;
}

.search>input {
    width: 300px;
}