* {
    font-family: 'SUIT', sans-serif;
    font-weight: 500;
    line-height: 160%;
}

body {
    margin: 0;
    padding-top: 75px;
    background-color: black;
    /* 가로 스크롤 없애기 */
    /* overflow-x: hidden; */
    position: relative;
}

h3 {
    font-weight: 800;
}

/* 상단바 고정 */
header {
    height: 80px;
    /* background-color: 000; */
    backdrop-filter: saturate(180%) blur(70px);
    width: 100%;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
}

/* GNB */
.gnb_list {
    list-style-type: none;
}

.gnb_list>li>a {
    text-decoration-line: none;
    color: white;
}

.logo {
    color: white;
    margin-left: 30px;
    width: 200px;
    /* display: inline-block; */
    font-weight: 900;
    position: absolute;
    left: 0;
}

.nav {
    position: absolute;
    left: 200px;
    top: 20px;
    width: 600px;
}

header>.nav,
li {
    float: left;
}

header>.nav,
li,
a {
    margin: 5px 10px;
}

.search {
    /* display: inline-block; */
    float: right;
    margin-right: 30px;
    margin-top: 30px;
}

.search>input {
    width: 300px;
}

/* 인기 영화 */
.popular-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* background-color: brown; */
    position: relative;
}

.popular-cards {
    margin: 30px auto 30px auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* background-color: white; */


}

.popular-movie-card {
    /* background-color: green; */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 3px grey;
    width: 300px;
    height: 800px;
    margin: 30px;
    border: 1px solid white;
    text-align: justify;
    /* 하단에 텍스트 고정 */
    position: relative;
    cursor: pointer;
    color: white;
    transition: all 0.5s ease;
}

.popular-movie-card:hover {
    transform: scale(1.1);
}

.star {
    font-weight: 700;
    /* 하단에 텍스트 고정 */
    position: absolute;
    bottom: 20px;
}

.popular-img {
    width: auto;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
    margin: auto;
    display: block;
}

.popular-cards>div {
    margin: 30px;
}

/* 개봉 예정작 */
.soon-body {
    /* background-color: darkblue; */
    overflow: hidden;
    width: 100%;
    position: relative;
    color: white;
    margin-top: 100px;
}

.soon-body > h1{
    position: absolute;
}

.soon-cards {
    margin-bottom: 50px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s ease;
    /* background-color: yellow; */
    position: relative;
    transition: 300ms all ease-in;
}

.soon-cards>div:hover {
    transform: scale(1.1);
}

.soon-movie-card {
    /* background-color: aquamarine; */
    transition: all 0.5s ease;
    /* margin-top: 50px; */
    cursor: pointer;
    display: block;
}

.soon-movie-card>div {
    position: relative;
}

.soon-movie-card>h3 {
    color: white;
    font-weight: 600;
}

.soon-movie-card>p {
    color: white;
    margin-top: -20px;
    font-size: 14px;
}

.soon-img {
    margin-top: 10px;
    margin-right: 30px;
    margin-bottom: 10px;
    float: left;
    position: relative;
    height: 380px;
    width: auto;
    border-radius: 10px;

}

/* top 버튼 */
#top-btn {
    float: right;
    z-index: 999;
    position: fixed;
    bottom: 40px;
    right: 40px;
    cursor: pointer;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: black;
    border: 1px solid white;
    color: white;
    line-height: 120%;
}

/* 이미지 캐러셀*/
#banner {
    width: auto;
    overflow: hidden;
    margin: 0 auto 80px;
    position: relative;
    /* min-width: 1240px;
    max-width: 3840px; */
    /* min-height: 400px; */
    background-color: aquamarine;
    height: 600px;
}

/* 페이지네이션 */
.main01-nav {
    display: table;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background-color: blue
}

/* .main01-nav button[class^="btn"] {
    display: table-cell;
    width: 34px;
    height: 34px;
    vertical-align: middle;
} */


.banner > .swiper-pagination {
    display: table-cell;
    position: static;
    width: auto;
    font-size: 0;
    vertical-align: middle;
}

.swiper-pagination {
    position: absolute;
    text-align: center;
    transition: opacity 0.3s;
    transform: translateZ(0);
    z-index: 10;
}

.swiper-pagination > span{
    width: 10px;
    height: 10px;
    background-color: hsla(0, 0%, 100%, 0.3);
    opacity: 1;
}

/* .swiper-pagination-bullet {
    background: #e8e8e8;
} */

.swiper-pagination-bullet{
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 100%;
    background: #606060;
    opacity: 1;
    cursor: pointer;
    margin: 0 4px;
}

.swiper-pagination-bullet:hover {
    background: #fff;
    opacity: 1;
}

.swiper-button-next,
.swiper-button-prev {
    position: absolute;
    top: 50%;
    z-index: 50;
    cursor: pointer;
    background-position: 50%;
    background-repeat: no-repeat;
}

.swiper-button-next {
    right: 0;
}

.swiper-slide {
    transform: translateX(0);
}

.swiper-wrapper-banner {
    transform: translateX(190px);
    /* transform: translateX(0); */
}


.swiper-slide{
    display: center;
    align-items: center;
    justify-content: center;
    
}
.swiper-slide>img {
    width: 100%;
    object-fit: cover;
    position: absolute;
}

.swiper-wrapper-banner {
    /* position: relative; */
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
    transition: 0.3s ease-in-out;
  
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
    transition: transform 0.3s ease;
  }

  .swiper-slide {
    float: left;
    position: relative;
    overflow: hidden;
    width: 1240px;
    height: 508px;
    margin: 0 10px;
    border-radius: 12px;
  }

  .swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
  }